<div nz-row nzGutter="16" style="margin-bottom: 16px">
    <div nz-col nzSpan="12">
        <nz-card nzTitle='Shell 1'>
            <a (click)='setSelectedShell(1)'>
                <app-heat [show-labels]="false" [heat-data]="onGoingHeat1"></app-heat>
            </a>
        </nz-card>

    </div>
    <div nz-col nzSpan="12">
        <nz-card nzTitle='Shell 2'>
            <a (click)='setSelectedShell(2)'>
                <app-heat [show-labels]="false" [heat-data]="onGoingHeat2"></app-heat>
            </a>
        </nz-card>

    </div>
</div>
<div nz-row nz-row nzGutter="16">
    <div nz-col nzSpan="12">
        <nz-card nzTitle='Shell 3'>
            <a (click)='setSelectedShell(3)'>
                <app-heat [show-labels]="false" [heat-data]="onGoingHeat3"></app-heat>
            </a>
        </nz-card>
    </div>
    <div nz-col nzSpan="12">
        <nz-card nzTitle='Shell 4'>
            <a (click)='setSelectedShell(4)'>
                <app-heat [show-labels]="false" [heat-data]="onGoingHeat4"></app-heat>
            </a>
        </nz-card>
    </div>
</div>