$bar-height: 1.8vh;
$process-color: #7cbdff;

.process {
  height: $bar-height;
  border-left: 2px solid#ffffff;
  background-color: $process-color;
}
.time-taken {
  width: 5%;
  padding-top: 12px;
  margin-left: 12px;
}

.error-start {
  height: $bar-height;
  background-color: #ff535357;
  border: 2px solid#ff2e2e42;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.error-end {
  height: $bar-height;
  background-color: #ffdb99;
  border: 2px solid $process-color;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.process-container {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1.5vh;
  .process-name {
    width: 10%;
    padding-right: 11px;
    p{
      font-weight: 600;
    }
  }
}
.progress {
  width: 85%;
  display: inline-flex;
}

.sop-time {
  color: gray;
}

.line {
  flex-grow: 1;
  background-color: gainsboro;
  height: 1px;
  margin-top: .8vh;
}


.data-template-content{
  font-weight: 600;
}
