<div class="process-container">
    <div [ngStyle]="styleName" class="process-name">
        <p>{{name}}</p>
    </div>
    <div class="progress">
        <div [ngStyle]="styleStartDelay" class="error-start"></div>
        <div [ngStyle]="styleProcessTime" class="process"></div>
        <div [ngStyle]="styleEndDelay" class="error-end"></div>
        <div class="line"></div>
    </div>
    <div class="time-taken">
    </div>
</div>




<!-- <button (click)="incrementDuration()">incrementDuration</button>
    <button (click)="toggleProcessOnGoing()">processOnGoing</button>
    <button (click)="incremenStartErrorDuration()">startDelay++</button>
    <button (click)="toggleStartDelayOnGoing()">startDelayOnGoing</button>
    <button (click)="incremenEndErrorDuration()">endDelay++</button>
    <button (click)="toggleEndDelayOnGoing()">endDelayOnGoing</button> -->