.filter-container {
  background: white;
  padding-left: 50px;
  padding-top: 16px;
  nz-radio-group{
      margin-bottom: 16px;
  }
  nz-cascader{
      margin-right: 8px;
  }
}
.table-container {
  background: white;
  padding-top: 16px;
  padding-left: 50px;
  padding-right: 50px;
}
