<nz-page-header>

    <nz-page-header-title>Data</nz-page-header-title>
    <nz-page-header-subtitle></nz-page-header-subtitle>
    <nz-page-header-extra>
        <nz-range-picker [(ngModel)]="dateRange"></nz-range-picker>

        <nz-divider style="margin-right: 20px" nzType="vertical"></nz-divider>

        <!-- actions -->
        <nz-button-group [nzSize]="large">
            <button nz-button><i nz-icon nzType="printer"></i></button>
            <button nz-button><i nz-icon nzType="download"></i></button>
        </nz-button-group>

    </nz-page-header-extra>


    <!-- <nz-page-header-content>
    </nz-page-header-content> -->
</nz-page-header>
<div class="filter-container">
    <nz-radio-group [nzSize]="large" class="heading" [(ngModel)]="dataType">
        <label nz-radio-button nzValue="delay">Delay</label>
        <label nz-radio-button nzValue="process time">Process time</label>
        <label nz-radio-button nzValue="start delays">Start delays</label>
        <label nz-radio-button nzValue="end delays">End delays</label>
    </nz-radio-group>
    <br>
    <nz-cascader id="group-cascader" [nzOptions]="groupShiftOptions" [(ngModel)]="groupShiftValues"
        (ngModelChange)="drawChart()"> </nz-cascader>
    <nz-cascader [nzOptions]="delaysOptions" [(ngModel)]="delaysValues" (ngModelChange)="drawChart()"> </nz-cascader>
</div>
<div class="table-container">
    <nz-table [nzBordered]="true">
        <thead>
            <tr>
                <th nzShowSort nzShowFilter>Heat</th>
                <th nzShowSort nzShowFilter>Shell</th>
                <th nzShowSort nzShowFilter>Process</th>
                <th nzShowSort nzShowFilter>Start time</th>
                <th nzShowSort nzShowFilter>End time</th>
                <th nzShowSort nzShowFilter>Shell life</th>
                <th nzShowSort nzShowFilter>EBT life</th>
                <th nzShowSort nzShowFilter>Grade</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let heat of tabularData; index as i">
                <td>{{heat.id}}</td>
                <td>{{heat.shell}}</td>
                <td>{{heat.process}}</td>
                <td>{{heat.startTime}}</td>
                <td>{{heat.endTime}}</td>
                <td>{{heat.shellLife}}</td>
                <td>{{heat.ebtLife}}</td>
                <td>{{heat.grade}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>