<!-- <p>{{currentHeat}}</p> -->
<!-- <p style="color: red" *ngIf="onGoingHeat !== 0">Heat {{onGoingHeat}} is in progress</p> -->
<!-- <p>{{currentHeatData | json}}</p> -->
<nz-breadcrumb class="breadcrumbs">
    <nz-breadcrumb-item><a routerLink='/'>Shells</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><span class="shell-cue">Shell {{currentShell}}</span></nz-breadcrumb-item>
</nz-breadcrumb>
<nz-page-header>

    <nz-page-header-title>Heat {{currentHeat}}</nz-page-header-title>
    <nz-page-header-subtitle>Shell {{currentShell}}</nz-page-header-subtitle>

    <nz-page-header-tags>
        <nz-tag *ngIf="currentHeat === onGoingHeat" [nzColor]="'green'">In progress</nz-tag>
        <nz-tag (click)="goToCurrentHeat()" *ngIf="currentHeat !== onGoingHeat">Go to the heat in progress</nz-tag>
    </nz-page-header-tags>




    <nz-page-header-extra>
        <button nz-button nzType="dashed" nz-popover nzTitle="Heat details" [nzContent]="moreInfoData"
            nzPlacement="bottom">More
            info</button>
        <nz-divider style="margin-right: 20px" nzType="vertical"></nz-divider>

        <ng-template #moreInfoData>
            <p>Group: <span class="data-template-content">2</span></p>
            <p>Shift: <span class="data-template-content">A</span></p>
            <p>Previous tap time: <span class="data-template-content">14:57:49</span></p>
            <p>Heat blow start time: <span class="data-template-content">15:01:11</span> </p>
            <p>Process type: <span class="data-template-content">Without scrap</span> </p>
            <p>Hot metal poured: <span class="data-template-content">146</span> </p>
            <p>HM chemistry: <span class="data-template-content"></span> </p>
            <p>Shell life : <span class="data-template-content">270</span> </p>
            <p>EBT life : <span class="data-template-content">126</span> </p>
            <p>Grade : <span class="data-template-content">JDHALM550E</span> </p>
        </ng-template>



        <nz-button-group [nzSize]="large">
            <button (click)="previousHeat()" nz-button><i nz-icon nzType="left"></i></button>
            <button (click)="nextHeat()" nz-button><i nz-icon nzType="right"></i></button>
        </nz-button-group>
        <button nz-button> <i nz-icon nzType="ordered-list"></i>Table View</button>
        <button (click)="toggleLiveView()" nz-button [nzType]="liveViewbuttonType"><i nz-icon nzType="video-camera"
                [nzTheme]="'fill'"></i>Live view</button>
        <nz-divider style="margin-right: 20px" nzType="vertical"></nz-divider>


        <!-- actions -->
        <nz-button-group [nzSize]="large">
            <button nz-button><i nz-icon nzType="printer"></i></button>
            <button nz-button><i nz-icon nzType="download"></i></button>
        </nz-button-group>

    </nz-page-header-extra>


    <nz-page-header-content>
        <p><i nz-icon nzType="clock-circle" nzTheme="outline"></i> {{currentTime}}</p>
    </nz-page-header-content>
</nz-page-header>


<div *ngIf="!liveView">
    <app-heat [show-labels]="true" [heat-data]="currentHeatData"></app-heat>
</div>

<div *ngIf="liveView" class="child-container">
    <app-live-view></app-live-view>
</div>

<nz-button-group [nzSize]="large">
    <button (click)="previousHeat()" nz-button><i nz-icon nzType="left"></i>Previous heat</button>
    <button (click)="nextHeat()" nz-button>Next heat<i nz-icon nzType="right"></i></button>
</nz-button-group>