<nz-layout class="layout">


    <nz-content class="page-content">
        <router-outlet></router-outlet>
    </nz-content>
    <nz-header class="header" style="position:fixed; width:100%">
        <div><img class="logo" src="../assets/Group 6@2x.png"></div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li routerLink='' routerLinkActive='ant-menu-item-selected' nz-menu-item>Live</li>
            <li routerLink='trends' routerLinkActive='ant-menu-item-selected' nz-menu-item>Trends</li>
            <li routerLink='data' routerLinkActive='ant-menu-item-selected' nz-menu-item>Data</li>
            <li routerLink='analytics' routerLinkActive='ant-menu-item-selected' nz-menu-item>Analytics</li>
            <li routerLink='reports' routerLinkActive='ant-menu-item-selected' nz-menu-item>Reports</li>
            <li routerLink='business-metrics' routerLinkActive='ant-menu-item-selected' nz-menu-item>Business metrics</li>
            <li class="user-logo"><img height="38px" src="../assets/jsw-steel.png"></li>
        </ul>

    </nz-header>
</nz-layout>