<nz-page-header>

    <nz-page-header-title>Daily report</nz-page-header-title>
    <nz-page-header-subtitle>Friday, Jul 5</nz-page-header-subtitle>
    <nz-page-header-extra>


        <!-- <nz-divider style="margin-right: 20px" nzType="vertical"></nz-divider> -->

        <!-- actions -->
        <nz-button-group [nzSize]="large">
            <button nz-button><i nz-icon nzType="printer"></i></button>
            <button nz-button><i nz-icon nzType="download"></i></button>
        </nz-button-group>

    </nz-page-header-extra>


    <!-- <nz-page-header-content>
    </nz-page-header-content> -->
</nz-page-header>

<div class="table-container">
    <nz-table [nzBordered]="true" #dailyReportTable [nzData]="reportData">
        <thead>
            <tr>
                <th></th>
                <th>Heats</th>
                <th>Total delay</th>
                <th>Average delay per heat</th>
                <th>Shift with max delay</th>
                <th>Group with max delay</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dailyReportTable.data, index as i">
                <td class="x-heading">Shell {{i + 1}}</td>
                <td>{{data.heats + 4}}</td>
                <td>{{data.td}}</td>
                <td>{{data.ad}}</td>
                <td>{{data.swmd}}</td>
                <td>{{data.gwmd}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>