<nz-page-header>

        <nz-page-header-title>Analytics</nz-page-header-title>
        <nz-page-header-subtitle>coming soon</nz-page-header-subtitle>
        <nz-page-header-extra>    
            <nz-divider style="margin-right: 20px" nzType="vertical"></nz-divider>
    
            <!-- actions -->
            <nz-button-group [nzSize]="large">
                <button nz-button><i nz-icon nzType="printer"></i></button>
                <button nz-button><i nz-icon nzType="download"></i></button>
            </nz-button-group>
    
        </nz-page-header-extra>
    
    
        <!-- <nz-page-header-content>
        </nz-page-header-content> -->
    </nz-page-header>