<!-- <div class="heat-container" style="background-color: white">
    <h3>{{heat?.id}}</h3>
    <p>{{heat | json}}</p>
</div> -->

<div class="heat-container">
    <div *ngIf="blowing" class="blowing">
        <p id="blowing-message"><i nz-icon nzType="loading" nzTheme="outline"></i></p>
        <p>Blowing in process</p>
        <p>{{blowingProcess['duration']}}s</p>
    </div>
    <app-process-cumulative [showName]='showLabels'  [cumulative]="cumulative"></app-process-cumulative>
    <process-container [process-data]="HMLCP" [show-process-names]='showLabels'></process-container>
    <process-container [process-data]="HMP" [show-process-names]='showLabels'></process-container>
    <process-container [process-data]="LI" [show-process-names]='showLabels'></process-container>
    <process-container [process-data]="TLP" [show-process-names]='showLabels'></process-container>
    <process-container [process-data]="EBTMFAL" [show-process-names]='showLabels'></process-container>
    <process-container [process-data]="EBJ" [show-process-names]='showLabels'></process-container>
    <!-- <process-container [process-data]="buildProcessObject('blowing')" [show-process-names]='true'></process-container> -->
</div>

<!-- <div *ngIf="blowing">
    <p><i nz-icon nzType="loading" nzTheme="outline"></i></p>
    <p id="blowing-message">Blowing in process</p>
    <p>{{blowingProcess['duration']}}s</p>
</div> -->