.heat-container {
  min-height: 100px;
  padding: 24px;
  margin-bottom: 16px;
  background: white;
  position: relative;
}

.blowing {
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffffe0;
  height: 100%;
  width: 100%;
  p{
      text-align: center;
      font-size: 48px;
  }
  #blowing-message{
      margin-top: 8%;
      color: orange
  }

}
