<div class="process-container">
    <div [ngStyle]="styleProcessName" class="process-name">
        <p>{{process['name']}}
            <br>
            <nz-tag [ngStyle]="styleTimeTag">{{process['sopTime']/60 | number:'1.0-0'}}m {{process['sopTime']%60}}s</nz-tag>
        </p>
    </div>
    <div class="progress">
        <div [ngStyle]="styleStartPoint" class="start-point"></div>
        <div nzTitle="Start delay" [nzContent]="startDelayData" nzPlacement="top" nz-popover [ngStyle]="styleErrorStart" class="error-start"></div>
        <div nzTitle="Process" [nzContent]="processData" nzPlacement="top" nz-popover class="process" id="process-1" [ngStyle]="styleProcess"></div>
        <div nzTitle="End delay" [nzContent]="endDelayData" nzPlacement="top" nz-popover [ngStyle]="styleErrorEnd" class="error-end"></div>
        <div nzTitle="Title" [nzContent]="contentTemplate" nzPlacement="top" nz-popover class="line"></div>
    </div>
    <div class="time-taken">
        <nz-tag *ngIf="!process['onGoing'] && !process['startDelay']['onGoing'] && !process['endDelay']['onGoing'] && process['duration'] > 0" [nzColor]="'red'">{{process['timeTaken']/60 | number:'1.0-0'}}m {{process['timeTaken']%60}}s</nz-tag>
    </div>
</div>



<ng-template #startDelayData>
    <div>
      <p>Duration: <span class="data-template-content">{{process?.startDelay.duration/60 | number:'1.0-0'}}m {{process.startDelay.duration%60 | number:'1.0-0'}}s</span> </p>
      <p>Start: <span class="data-template-content">{{process?.startDelay.startTime}}</span> </p>
      <p>End: <span class="data-template-content">{{process?.startDelay.endTime}}</span> </p>
    </div>
</ng-template>


<ng-template #endDelayData>
    <div>
      <p>Duration: <span class="data-template-content">{{process?.endDelay.duration/60 | number:'1.0-0'}}m {{process.endDelay.duration%60 | number:'1.0-0'}}s</span> </p>
      <p>Start: <span class="data-template-content">{{process?.endDelay.startTime}}</span> </p>
      <p>End: <span class="data-template-content">{{process?.endDelay.endTime}}</span> </p>
    </div>
</ng-template>

<ng-template #processData>
    <div>
        <p>Duration: <span class="data-template-content">{{(process?.duration+this.process.totalDelay)/60 | number:'1.0-0'}}m {{(process.duration+this.process.totalDelay)%60 | number:'1.0-0'}}s</span> </p>
        <p>Start: <span class="data-template-content">{{process?.startTime}}</span> </p>
        <p>End: <span class="data-template-content">{{process?.endTime}}</span> </p>
    </div>
</ng-template>

<!-- <button (click)="incrementDuration()">incrementDuration</button>
<button (click)="toggleProcessOnGoing()">processOnGoing</button>
<button (click)="incremenStartErrorDuration()">startDelay++</button>
<button (click)="toggleStartDelayOnGoing()">startDelayOnGoing</button>
<button (click)="incremenEndErrorDuration()">endDelay++</button>
<button (click)="toggleEndDelayOnGoing()">endDelayOnGoing</button> -->