$bar-height: 4.8vh;

.process {
  height: $bar-height;
  border-radius: 4px;
  border-left: 2px solid#ffffff;
}
.time-taken {
  width: 5%;
  padding-top: 12px;
  margin-left: 12px;
}

.error-start {
  height: $bar-height;
  background-color: #ff535357;
  border: 2px solid#ff2e2e42;
  border-radius: 4px;
}

.error-end {
  height: $bar-height;
  background-color: #ffdb99;
  border: 2px solid#7cbdff;
  border-left: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.process-container {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1.5vh;
  .process-name {
    width: 10%;
    padding-right: 11px;
  }
}
.progress {
  width: 85%;
  display: inline-flex;
}

.sop-time {
  color: gray;
}

.line {
  flex-grow: 1;
  background-color: gainsboro;
  height: 1px;
  margin-top: 2.3vh;
}

.start-point {
  background-color: gainsboro;
  height: 1px;
  margin-top: 2.3vh;
}


.data-template-content{
  font-weight: 600;
}
