<nz-page-header>

    <nz-page-header-title>Trends</nz-page-header-title>
    <nz-page-header-subtitle>July</nz-page-header-subtitle>
    <nz-page-header-extra>


        <!-- <nz-divider style="margin-right: 20px" nzType="vertical"></nz-divider> -->

        <!-- actions -->
        <nz-button-group [nzSize]="large">
            <button nz-button><i nz-icon nzType="printer"></i></button>
            <button nz-button><i nz-icon nzType="download"></i></button>
        </nz-button-group>

    </nz-page-header-extra>


    <!-- <nz-page-header-content>
    </nz-page-header-content> -->
</nz-page-header>

<div class="filter-container">
    <nz-cascader id="shell-cascader" [nzOptions]="shellProcessOptions" [(ngModel)]="shellProcessValues" (ngModelChange)="drawChart()"></nz-cascader>
    <nz-cascader id="group-cascader" [nzOptions]="groupShiftOptions" [(ngModel)]="groupShiftValues" (ngModelChange)="drawChart()"> </nz-cascader>
    <nz-cascader [nzOptions]="delaysOptions" [(ngModel)]="delaysValues" (ngModelChange)="drawChart()"> </nz-cascader>
    <nz-cascader id="grade-cascader" [nzOptions]="gradeOptions" [(ngModel)]="gradeValues" (ngModelChange)="drawChart()"> </nz-cascader>
</div>

<div class="chart-container">
    <canvas id="trends-chart"></canvas>
</div>
<div class="heading-container">
    <nz-radio-group [nzSize]="large" class="heading" [(ngModel)]="dataType">
        <label nz-radio-button nzValue="delay">Delay</label>
        <label nz-radio-button nzValue="process time">Process time</label>
        <label nz-radio-button nzValue="start delays">Start delays</label>
        <label nz-radio-button nzValue="end delays">End delays</label>
    </nz-radio-group>
</div>