.chart-container {
  position: relative;
  height: 65vh;
  background: white;
}

.filter-container {
  background: white;
  padding-top: 16px;
  padding-left: 52px;
  padding-bottom: 8px;
  nz-cascader {
    margin-right: 8px;
  }
  #shell-cascader {
    min-width: 280px;
  }
  #grade-cascader {
    width: 125px;
  }
  #group-cascader {
    width: 150px;
  }
}

.heading-container {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 36px;
}
