<div class="video-container">
    <video autoplay loop width="800">
        <source src="../../assets/video_live-view/video_1.mp4" type="video/mp4">
        Your browser does not support the HTML5 video.
    </video>
</div>